.idea/workspace.xml
.idea/modules.xml
.idea/compiler.xml
.idea/misc.xml
.idea/gradle.xml
.idea/shelf/
.idea/libraries/
.idea/.name
.intellijPlatform/
*.iml

/build/
/jps-plugin/build/
.gradle
/out/
/bin
/jps-plugin/out/
/jps-plugin/bin/